<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaPlayer.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MediaPlayer.UserInterface.Properties.Settings>
            <setting name="DefaultMediaLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutosizeColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Crossfade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </MediaPlayer.UserInterface.Properties.Settings>
    </userSettings>
</configuration>